/* General styles: */
body * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

body {
    color:#ccc;
    background: black;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)
    ),
    url(book.jpg);
    background-position: 55%;
}

#main {
    text-align: center;
}

ul, li {
    list-style: none;
}

/* Button styles: */
.begin, .sbmt, .Next, .restart {
    border: 1px solid #4d4d4d;
    font-family: 'Reem Kufi', sans-serif;
    text-transform: uppercase;
    background-color: 
        fff;
    background: rgba(255, 255, 255, 0.3);
}

/*not currently using*/
.hidden {
    display: none;
}

/* Question Number/Score styles */


.question-data > li {
    display: inline-block;
    padding: 10px 20px 10px 20px;
}

/* Title styles */
header {
    width: 300px;
    padding: 15px 10px 10px 10px;
    border-bottom: 1px solid #0d0d0d;
    font-size: 20px;
    text-align: center;
    color: #8c8c8c;
}

/* Start page styles: */
.quiz-description {
    margin: 120px 20px 30px 20px;
}

/* content box styles: */

#content-box {
    width: 300px;
    height: 500px;
}

/* Question content styles (words and answers) */
.word {
    font-family: 'Reem Kufi', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    padding: 10px 10px 10px 10px;
}

.answers > li {
    padding-bottom: 10px;
    color: #f2f2f2;
}

.question-data {
    text-align: right;
}

.answers {
    text-align: left;
    margin: 10px 30px 10px 30px;
}

/* Instructions styles: */
.instructions {
    font-size: 13px;
    text-align: left;
    margin: 10px 20px 10px 20px;
}


/* Example sentence styles: */
.example {
    padding: 5px 10px 5px 10px;
    margin: 8px 10px 20px 30px;
    text-align: left;
    font-size: 14px;
    color: #e6e6e6;
    border-left: 3px solid #8c8c8c;
}

.sentence:before {
    content: '\201C';
    color: gray;
}

.sentence:after {
    content: '\201D';
    color: gray;
}

.in-a-sentence {
    font-size: 13px;
    text-align: left;
    padding-top: 10px;
    margin-left: 53px;
}

.source {
    font-size: 13px;
    color: #999;
    float: right;
}

/* Feedback styles: */
.capitalize {
    text-transform: capitalize;
}

.correct-incorrect {
    margin-top: 30px;
}

.feedback {
    margin: 10px 10px 20px 10px;
}