body * {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: auto;
}

.begin, .sbmt, .Next, .restart {
    border: 1px solid black;
}

/*not currently using*/
.hidden {
    display: none;
}

header {
    width: 300px;
}

#main {
    text-align: center;
}

.question-data {
    text-align: right;
}

.answers {
    text-align: left;
}

.answers > li {
    padding-bottom: 10px;
}

#content-box {
    width: 300px;
    height: 500px;
    padding: 10px;
    border: gray 1px solid;
    padding-top: 10%;
}

.quiz-description {
    padding-top: 30%;
}

.instructions, .word, .sentence, .answers {
    padding-bottom: 20px;
}

